# 1 Introduction

> Notebook para preparação dos dados de suite of food security indicators da FAO
> 
> Dados abertos de https://www.fao.org/faostat/en/#data/FS

## 1.1 Business needs

> Carga e preparação dos dados abertos

## 1.2 Dependencies

> What dependencies does the reader need to download in order to run the whole notebook? Write the pip or conda command to allow easy access to those. Be sure to include the specific versions if needed be.

In [1]:
# !pip install pandas
# !pip install -U NumPy==1.23.2
# !pip install ydata-profiling
# !pip install --upgrade pip
# !pip install --upgrade Pillow
# !pip install pyarrow
# !pip install fastparquet

## 1.3 Imports

> Import all libraries needed. Include the latest versions used to allow reproducibility.

In [2]:
import pandas as pd
from ydata_profiling import ProfileReport      # Para análise exploratória dos dados
import warnings

In [3]:
warnings.filterwarnings('ignore')

## 1.4 Global variables

> Declare all variables that will retain a constant value throught the notebook. For exemple, the path to the input data should be a global variable.

# 2 Exploratory data analysis

> Write a brief summary about which analysis and wrangling was performed.

## 2.1 Data reading

> Give a brief introduction to the data used and their sources.

In [4]:
df = pd.read_csv("../data/1. Suite of Food Security Indicators/Food_Security_Data_E_All_Data_(Normalized).csv", encoding='ISO-8859–1')

### Análise inicial

In [5]:
df.columns

Index(['Area Code', 'Area Code (M49)', 'Area', 'Item Code', 'Item',
       'Element Code', 'Element', 'Year Code', 'Year', 'Unit', 'Value', 'Flag',
       'Note'],
      dtype='object')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 233305 entries, 0 to 233304
Data columns (total 13 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Area Code        233305 non-null  int64
 1   Area Code (M49)  233305 non-null  object
 2   Area             233305 non-null  object
 3   Item Code        233305 non-null  object
 4   Item             233305 non-null  object
 5   Element Code     233305 non-null  int64
 6   Element          233305 non-null  object
 7   Year Code        233305 non-null  int64
 8   Year             233305 non-null  object
 9   Unit             229231 non-null  object
 10  Value            200258 non-null  object
 11  Flag             233305 non-null  object
 12  Note             31184 non-null   object
dtypes: int64(3), object(10)
memory usage: 23.1+ MB

In [7]:
df.describe()

           Area Code   Element Code     Year Code
count  233305.000000  233305.000000  2.333050e+05
mean     1460.402885   19457.594304  9.312173e+06
std      2363.708778   23607.567432  1.004072e+07
min         1.000000    6121.000000  2.000000e+03
25%        91.000000    6121.000000  2.012000e+03
50%       171.000000    6128.000000  2.021000e+03
75%       420.000000    6173.000000  2.015202e+07
max      9011.000000   61322.000000  2.020202e+07

In [8]:
df.head().T

,0,1,2,3,4
Area Code,2,2,2,2,2
Area Code (M49),'004,'004,'004,'004,'004
Area,Afghanistan,Afghanistan,Afghanistan,Afghanistan,Afghanistan
Item Code,21010,21010,21010,21010,21010
Item,Average dietary energy supply adequacy (percen...,Average dietary energy supply adequacy (percen...,Average dietary energy supply adequacy (percen...,Average dietary energy supply adequacy (percen...,Average dietary energy supply adequacy (percen...
Element Code,6121,6121,6121,6121,6121
Element,Value,Value,Value,Value,Value
Year Code,20002002,20012003,20022004,20032005,20042006
Year,2000-2002,2001-2003,2002-2004,2003-2005,2004-2006
Unit,%,%,%,%,%
Value,88,89,92,93,94
Flag,E,E,E,E,E
Note,NaN,NaN,NaN,NaN,NaN

## 2.2 Data wrangling

> Guide the reader about which data wranglings were needed and why

### Análise Exploratória Inicial

In [9]:
profile = ProfileReport(df)
profile.to_file("../output/report.html", silent=True)

# profile.to_notebook_iframe()

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

#### Análise da coluna Element

In [10]:
df.groupby('Element')['Element'].agg('count')

Element
Confidence interval: Lower bound     28206
Confidence interval: Upper bound     28206
Value                               176893
Name: Element, dtype: int64

In [11]:
df[df['Element'] != 'Value'].head()

,Area Code,Area Code (M49),Area,Item Code,Item,Element Code,Element,Year Code,Year,Unit,Value,Flag,Note
147,2,'004,Afghanistan,210401,Prevalence of severe food insecurity in the to...,61211,Confidence interval: Lower bound,20142016,2014-2016,%,11,A,FAO data
148,2,'004,Afghanistan,210401,Prevalence of severe food insecurity in the to...,61211,Confidence interval: Lower bound,20152017,2015-2017,%,11.8,A,FAO data
149,2,'004,Afghanistan,210401,Prevalence of severe food insecurity in the to...,61211,Confidence interval: Lower bound,20162018,2016-2018,%,14.5,A,FAO data
150,2,'004,Afghanistan,210401,Prevalence of severe food insecurity in the to...,61211,Confidence interval: Lower bound,20172019,2017-2019,%,15.2,A,Official estimate
151,2,'004,Afghanistan,210401,Prevalence of severe food insecurity in the to...,61211,Confidence interval: Lower bound,20182020,2018-2020,%,17.5,A,Official estimate

#### Análise de Item Code

In [12]:
df.groupby(['Item Code'])['Item Code'].agg('count')

Item Code
210010    1035
210011    5227
210040    1035
210041    5229
210070    1215
          ...
21057     5497
21058     4416
21059     4669
21061     4196
22013     5090
Name: Item Code, Length: 68, dtype: int64

In [13]:
# Exportação para o XLS para análise dos itens que ficarão
df.groupby(['Item Code', 'Item'])[['Item Code', 'Item']].agg('count').to_excel('../output/food_security_industry_features.xlsx') # Exportar para arquivo excel

In [14]:
# Lista das features que serão desconsideradas
df_item_code_exclude = ['210011', '210041', '210070F', '210070M', '210071', '210071F', '210071M', 
                   '210080F', '210080M', '210081', '210081F', '210081M', '210090F', '210090M', 
                   '210091', '210091F', '210091M', '21025', '210250', '21026', '210260', '21034', 
                   '210400F', '210400M', '210400R', '210400TSUB', '210400U', '210401', '210401F', 
                   '210401M', '21041', '210410', '21043', '210430', '21044', '21049', '210490', '21057']

#### Análise da coluna Year e Year Code

In [15]:
df.groupby('Year')['Year'].agg('count')

Year
2000          4663
2000-2002     2244
2001          4600
2001-2003     2244
2002          4800
2002-2004     2245
2003          4812
2003-2005     2246
2004          4829
2004-2006     2250
2005          4857
2005-2007     2260
2006          4903
2006-2008     2260
2007          4858
2007-2009     2260
2008          4842
2008-2010     2267
2009          4840
2009-2011     2267
2010          4885
2010-2012     2294
2011          4857
2011-2013     2299
2012          4923
2012-2014     2291
2013          4844
2013-2015     2289
2014          7327
2014-2016    11255
2015          7283
2015-2017    11255
2016          7302
2016-2018    11258
2017          6833
2017-2019    11273
2018          6859
2018-2020    11271
2019          6842
2019-2021    10148
2020          6297
2020-2022     9682
2021          4879
2022          4312
Name: Year, dtype: int64

In [16]:
df[(df['Year Code'] > 20000000)].groupby('Year')['Year'].agg('count')

Year
2000-2002     2244
2001-2003     2244
2002-2004     2245
2003-2005     2246
2004-2006     2250
2005-2007     2260
2006-2008     2260
2007-2009     2260
2008-2010     2267
2009-2011     2267
2010-2012     2294
2011-2013     2299
2012-2014     2291
2013-2015     2289
2014-2016    11255
2015-2017    11255
2016-2018    11258
2017-2019    11273
2018-2020    11271
2019-2021    10148
2020-2022     9682
Name: Year, dtype: int64

#### Análise da Coluna Area Code

In [17]:
df_area_code_exclude = [420, 429]

#### Conclusões

- Valores faltantes:

| Campo  | Qtde  |   %  |
|-------|--------|-------|
| Unit  | 4074   | 1,7%  |
| Value | 33047  | 14,2% |
| Note  | 202121 | 86,6% |

- Flag igual a Q representa linhas com valores vazios

> Eliminar coluna Note
> Eliminar linhas com campos nulos
> Sobrarão 84% da base (196184 linhas)

- Area Code na casa dos 5000 são agregações regionais (por continente ou sub-continente)
- Area Code na casa dos 9000 são agregações econômicas (países de melhor ou pior renda) 
- 2 agregações regionais são lixo na base (420 - Sub-Saharan Africa e 429 - Northern Africa (excluding Sudan))
> Deixar apenas as Area Codes < 5000 e eliminar as exceções 420 e 429

- Linhas possuem Valores e intervalos de confiança
> Eliminar os intervalos de confiança e a coluna 'Element'

- Campos Item e Item Code são equivalentes
> Eliminar campo Item Code

- Campos Year e Year Code, em algumas pesquisas trazem um range de anos. Elas representam a média dos 3 anos da pesquisa
> Vamos considerar que o valor representa a informação do ano final

- Dados de 2000 a 2022
> Manteremos dados nos períodos disponíveis nas outras bases estudadas: 2017-2021

### Limpeza e tratamento dos dados

In [18]:
# Converter o campo Year para o ano inicial e final da pesquisa
df['Year'] = df['Year'].str[-4:].astype('int')

df.head()

,Area Code,Area Code (M49),Area,Item Code,Item,Element Code,Element,Year Code,Year,Unit,Value,Flag,Note
0,2,'004,Afghanistan,21010,Average dietary energy supply adequacy (percen...,6121,Value,20002002,2002,%,88,E,NaN
1,2,'004,Afghanistan,21010,Average dietary energy supply adequacy (percen...,6121,Value,20012003,2003,%,89,E,NaN
2,2,'004,Afghanistan,21010,Average dietary energy supply adequacy (percen...,6121,Value,20022004,2004,%,92,E,NaN
3,2,'004,Afghanistan,21010,Average dietary energy supply adequacy (percen...,6121,Value,20032005,2005,%,93,E,NaN
4,2,'004,Afghanistan,21010,Average dietary energy supply adequacy (percen...,6121,Value,20042006,2006,%,94,E,NaN

In [19]:
# Eliminando features não relevantes ao estudo
df_drop1 = df.drop(df[df['Item Code'].isin(df_item_code_exclude)].index)

# Eliminando os anos anteriores a 2017
df_drop2 = df_drop1.drop(df_drop1[(df_drop1['Year'].astype('int') < 2017)].index)

# Eliminando os anos anteriores maiores que 2021 and não são triênios
df_drop3 = df_drop2.drop(df_drop2[(df_drop2['Year'].astype('int') > 2022)].index)

# Eliminando agregações regionais ou econômicas
df_drop4 = df_drop3.drop(df_drop3[(df_drop3['Area Code'] >= 5000) | (df_drop3['Area Code'].isin(df_area_code_exclude))].index)

# Eliminando valores representando intervalos de confiança
df_drop5 = df_drop4.drop(df_drop4[(df_drop4['Element'] != 'Value')].index)

df_drop5

,Area Code,Area Code (M49),Area,Item Code,Item,Element Code,Element,Year Code,Year,Unit,Value,Flag,Note
15,2,'004,Afghanistan,21010,Average dietary energy supply adequacy (percen...,6121,Value,20152017,2017,%,108,E,NaN
16,2,'004,Afghanistan,21010,Average dietary energy supply adequacy (percen...,6121,Value,20162018,2018,%,108,E,NaN
17,2,'004,Afghanistan,21010,Average dietary energy supply adequacy (percen...,6121,Value,20172019,2019,%,107,E,NaN
18,2,'004,Afghanistan,21010,Average dietary energy supply adequacy (percen...,6121,Value,20182020,2020,%,106,E,NaN
19,2,'004,Afghanistan,21010,Average dietary energy supply adequacy (percen...,6121,Value,20192021,2021,%,106,E,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
173780,181,'716,Zimbabwe,21059,Incidence of caloric losses at retail distribu...,6121,Value,2022,2022,%,2.13,E,NaN
173796,181,'716,Zimbabwe,21061,Average fat supply (g/cap/day) (3-year average),6123,Value,20152017,2017,g/cap/d,68.6,E,NaN
173797,181,'716,Zimbabwe,21061,Average fat supply (g/cap/day) (3-year average),6123,Value,20162018,2018,g/cap/d,66.9,E,NaN
173798,181,'716,Zimbabwe,21061,Average fat supply (g/cap/day) (3-year average),6123,Value,20172019,2019,g/cap/d,63.6,E,NaN
173799,181,'716,Zimbabwe,21061,Average fat supply (g/cap/day) (3-year average),6123,Value,20182020,2020,g/cap/d,63.3,E,NaN

In [20]:
# Eliminando colunas irrelevantes
df2 = df_drop5.drop(['Area Code', 'Area Code (M49)', 'Note', 'Element Code', 
                     'Element', 'Year Code', 'Flag'], axis=1).dropna().copy(deep=True)

df2.count()

Area         14515
Item Code    14515
Item         14515
Year         14515
Unit         14515
Value        14515
dtype: int64

In [21]:
df2[['Area', 'Item Code', 'Item', 'Unit']] = df2[['Area', 'Item Code', 'Item', 'Unit']].astype('string')
df2[['Year']] = df2[['Year']].astype('int')
df2[['Value']] = df2[['Value']].astype('float')

In [22]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 14515 entries, 15 to 173799
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Area       14515 non-null  string
 1   Item Code  14515 non-null  string
 2   Item       14515 non-null  string
 3   Year       14515 non-null  int64
 4   Unit       14515 non-null  string
 5   Value      14515 non-null  float64
dtypes: float64(1), int64(1), string(4)
memory usage: 793.8 KB

In [23]:
df2

,Area,Item Code,Item,Year,Unit,Value
15,Afghanistan,21010,Average dietary energy supply adequacy (percen...,2017,%,108.00
16,Afghanistan,21010,Average dietary energy supply adequacy (percen...,2018,%,108.00
17,Afghanistan,21010,Average dietary energy supply adequacy (percen...,2019,%,107.00
18,Afghanistan,21010,Average dietary energy supply adequacy (percen...,2020,%,106.00
19,Afghanistan,21010,Average dietary energy supply adequacy (percen...,2021,%,106.00
...,...,...,...,...,...,...
173780,Zimbabwe,21059,Incidence of caloric losses at retail distribu...,2022,%,2.13
173796,Zimbabwe,21061,Average fat supply (g/cap/day) (3-year average),2017,g/cap/d,68.60
173797,Zimbabwe,21061,Average fat supply (g/cap/day) (3-year average),2018,g/cap/d,66.90
173798,Zimbabwe,21061,Average fat supply (g/cap/day) (3-year average),2019,g/cap/d,63.60
173799,Zimbabwe,21061,Average fat supply (g/cap/day) (3-year average),2020,g/cap/d,63.30

### Análise Exploratória após limpeza dos dados

In [24]:
# Análise exploratória após limpeza dos dados
profile = ProfileReport(df2)
profile.to_file("../output/report2.html", silent=True)

# profile.to_notebook_iframe()

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

### Data Preparation

#### Preparar o tabela Pivot para merge com as outras bases

Tabela com Pais(Area), Ano e as variáveis de análise (título é o Item)

In [25]:
df_pivot = df2.pivot(index=['Area', 'Year'],
                    columns='Item',
                    values='Value').reset_index()

In [26]:
df_pivot

Item,Area,Year,Average dietary energy supply adequacy (percent) (3-year average),Average fat supply (g/cap/day) (3-year average),Average protein supply (g/cap/day) (3-year average),Average supply of protein of animal origin (g/cap/day) (3-year average),Cereal import dependency ratio (percent) (3-year average),Coefficient of variation of habitual caloric consumption distribution (real number),"Gross domestic product per capita, PPP, (constant 2017 international $)",Incidence of caloric losses at retail distribution level (percent),Minimum dietary energy requirement (kcal/cap/day),Per capita food production variability (constant 2014-2016 thousand int$ per capita),Per capita food supply variability (kcal/cap/day),Percentage of population using at least basic drinking water services (percent),Percentage of population using at least basic sanitation services (percent),Percentage of population using safely managed drinking water services (percent),Percentage of population using safely managed sanitation services (percent),Rail lines density (total route in km per 100 square km of land area),"Share of dietary energy supply derived from cereals, roots and tubers (percent) (3-year average)",Value of food imports in total merchandise exports (percent) (3-year average)
0,Afghanistan,2017,108.0,39.7,58.3,11.3,34.2,0.32,2096.1,3.82,1656.0,6.7,26.0,66.8,45.8,25.1,NaN,NaN,72.0,388.0
1,Afghanistan,2018,108.0,40.7,58.0,10.7,41.3,0.32,2060.7,3.82,1659.0,5.6,27.0,69.6,47.4,25.9,NaN,NaN,72.0,378.0
2,Afghanistan,2019,107.0,40.8,57.3,10.3,40.9,0.33,2079.9,3.82,1661.0,8.5,31.0,72.4,49.0,26.8,NaN,NaN,71.0,311.0
3,Afghanistan,2020,106.0,40.4,56.3,10.0,38.1,0.39,1968.3,3.82,1665.0,8.6,32.0,75.1,50.5,27.6,NaN,NaN,71.0,284.0
4,Afghanistan,2021,106.0,NaN,NaN,NaN,NaN,0.39,1516.3,3.82,1667.0,NaN,31.0,NaN,NaN,NaN,NaN,NaN,NaN,238.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1219,Zimbabwe,2018,94.0,66.9,57.7,25.3,35.3,0.32,2399.6,2.13,1739.0,19.7,53.0,63.5,36.4,29.8,26.3,0.8,53.0,20.0
1220,Zimbabwe,2019,92.0,63.6,55.6,25.0,56.9,0.31,2203.4,2.13,1743.0,5.6,22.0,63.1,35.8,29.7,26.0,0.8,53.0,13.0
1221,Zimbabwe,2020,91.0,63.3,54.7,24.7,60.3,0.31,1990.3,2.13,1747.0,5.6,20.0,62.7,35.2,29.5,25.7,0.8,53.0,14.0
1222,Zimbabwe,2021,91.0,NaN,NaN,NaN,NaN,0.31,2115.1,2.13,1750.0,NaN,21.0,NaN,NaN,NaN,NaN,NaN,NaN,15.0
1223,Zimbabwe,2022,91.0,NaN,NaN,NaN,NaN,0.29,NaN,2.13,1755.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
df_pivot.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1224 entries, 0 to 1223
Data columns (total 20 columns):
 #   Column                                                                                            Non-Null Count  Dtype
---  ------                                                                                            --------------  -----
 0   Area                                                                                              1224 non-null   string
 1   Year                                                                                              1224 non-null   int64
 2   Average dietary energy supply adequacy (percent) (3-year average)                                 1048 non-null   float64
 3   Average fat supply (g/cap/day) (3-year average)                                                   720 non-null    float64
 4   Average protein supply (g/cap/day) (3-year average)                                               732 non-null    float64
 5   Average supply of protein of animal origin (g/cap/day) (3-year average)                           732 non-null    float64
 6   Cereal import dependency ratio (percent) (3-year average)                                         676 non-null    float64
 7   Coefficient of variation of habitual caloric consumption distribution (real number)               1152 non-null   float64
 8   Gross domestic product per capita, PPP, (constant 2017 international $)                           937 non-null    float64
 9   Incidence of caloric losses at retail distribution level (percent)                                1218 non-null   float64
 10  Minimum dietary energy requirement  (kcal/cap/day)                                                1164 non-null   float64
 11  Per capita food production variability (constant 2014-2016 thousand int$ per capita)              796 non-null    float64
 12  Per capita food supply variability (kcal/cap/day)                                                 870 non-null    float64
 13  Percentage of population using at least basic drinking water services (percent)                   771 non-null    float64
 14  Percentage of population using at least basic sanitation services (percent)                       759 non-null    float64
 15  Percentage of population using safely managed drinking water services (percent)                   481 non-null    float64
 16  Percentage of population using safely managed sanitation services (percent)                       473 non-null    float64
 17  Rail lines density (total route in km per 100 square km of land area)                             294 non-null    float64
 18  Share of dietary energy supply derived from cereals, roots and tubers (percent) (3-year average)  720 non-null    float64
 19  Value of food imports in total merchandise exports (percent) (3-year average)                     972 non-null    float64
dtypes: float64(18), int64(1), string(1)
memory usage: 191.4 KB

In [28]:
df_pivot.describe()

Item,Year,Average dietary energy supply adequacy (percent) (3-year average),Average fat supply (g/cap/day) (3-year average),Average protein supply (g/cap/day) (3-year average),Average supply of protein of animal origin (g/cap/day) (3-year average),Cereal import dependency ratio (percent) (3-year average),Coefficient of variation of habitual caloric consumption distribution (real number),"Gross domestic product per capita, PPP, (constant 2017 international $)",Incidence of caloric losses at retail distribution level (percent),Minimum dietary energy requirement (kcal/cap/day),Per capita food production variability (constant 2014-2016 thousand int$ per capita),Per capita food supply variability (kcal/cap/day),Percentage of population using at least basic drinking water services (percent),Percentage of population using at least basic sanitation services (percent),Percentage of population using safely managed drinking water services (percent),Percentage of population using safely managed sanitation services (percent),Rail lines density (total route in km per 100 square km of land area),"Share of dietary energy supply derived from cereals, roots and tubers (percent) (3-year average)",Value of food imports in total merchandise exports (percent) (3-year average)
count,1224.000000,1048.000000,720.000000,732.000000,732.000000,676.000000,1152.000000,937.000000,1218.000000,1164.000000,796.000000,870.000000,771.000000,759.000000,481.000000,473.000000,294.000000,720.000000,972.000000
mean,2019.500000,122.037214,89.815833,80.750546,36.680874,26.726331,0.254800,20927.263287,2.494869,1831.640893,18.748241,34.974713,88.176005,76.632543,71.834096,58.306131,2.754082,46.743056,58.371399
std,1.708523,15.733257,36.079445,21.197421,20.429617,68.241281,0.058323,21809.174545,0.755072,85.852700,20.019577,26.287852,15.574577,27.910744,29.859429,29.842905,2.983910,13.767464,258.150123
min,2017.000000,35.000000,15.200000,21.200000,2.000000,-343.300000,0.110000,705.000000,1.160000,1642.000000,0.300000,5.000000,37.200000,8.100000,5.600000,6.100000,0.100000,23.000000,3.000000
25%,2018.000000,111.000000,60.250000,64.700000,19.000000,5.400000,0.210000,4922.600000,1.910000,1762.000000,6.275000,20.000000,82.000000,54.750000,47.500000,30.300000,0.500000,35.000000,8.000000
50%,2019.500000,123.000000,86.750000,81.700000,35.300000,36.900000,0.250000,13589.700000,2.415000,1835.500000,11.550000,28.000000,96.500000,90.700000,85.400000,60.900000,1.800000,46.000000,15.000000
75%,2021.000000,133.250000,117.325000,96.700000,51.300000,73.525000,0.290000,30210.200000,3.020000,1908.250000,23.400000,42.000000,99.000000,98.700000,98.300000,85.000000,3.600000,56.000000,40.000000
max,2022.000000,160.000000,181.700000,144.300000,104.700000,100.000000,0.390000,128437.000000,5.760000,2057.000000,172.000000,249.000000,99.000000,99.000000,99.000000,99.000000,11.900000,80.000000,5735.000000

#### Geração dos arquivos de saída

In [29]:
df_pivot.to_excel('../output/food_security_industry_pivot.xlsx')
df_pivot.to_parquet('../output/food_security_industry_pivot.parquet')

# 3 Data modeling

> Give a brief introduction about the model. If you feel it would help, explain the math behind it.

## 3.1 Identifying key variables

> Guide the reader around the thought proccess about which variables were considered key to the model.

## 3.2 Building the model

> Guide the reader throughout the implementation and the decision of using the chosen model.

## 3.3 Extracting insights

> Be very thorough about which insights can be concluded from the data and how.

# 4 Conclusion

> Summarize the insights previously found.

## 4.1 Discussion

> What makes those insights relevant and how do they relate to the initial business needs?

## 4.2 Next steps

> If it makes sense, talk about the next logical steps that should follow the conclusion.